<% include header.ejs %>
	<div class ='container' align ='center'>
		<br><br><hr>
		<h1><Strong>Registeration successful !!!</Strong></h1>
		<hr>
		<br>
		<a href ="/admin">Click Here ! </a> to register more.
	</div>
</body>
</html>