<% include header.ejs %>
	<div class ='container' align ='center'>
		<br><br><hr>
		<h1><Strong>Invalid Username/Password !!!</Strong></h1>
		<hr>
		<br>
		<a href ="/admin">Click Here ! </a> to login again.
	</div>
</body>
</html>