<!DOCTYPE html>
<html lang="en">
    <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.5, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/mbr-1622x1080.jpg" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <title>Enroll Students</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="form.css" >
  <script src="form.js"></script>
    </head>
    <body >
      <section class="menu cid-qJDGyhYL6e" once="menu" id="menu1-24">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="">
                         <img src="assets/images/mbr-1622x1080.jpg" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" ><span class="socicon socicon-battlenet mbr-iconfont mbr-iconfont-btn"></span>
                        Creators Hub</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/home"><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                        
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="aboutUs"><span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                        
                        About Us
                    </a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="contactUs"><span class="mbri-contact-form mbr-iconfont mbr-iconfont-btn"></span>
                        Contact Us
                    </a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="stats"><span class="mbri-growing-chart mbr-iconfont mbr-iconfont-btn"></span>
                        Stats</a></li></ul>
            
        </div>
    </nav>
</section>
<br>
<section class="mbr-section content8 cid-qJEXTZcQZt" id="content8-22">
    <div class="container">
       <div class="imagebgcl"></div>
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary-outline display-4" href="/adminDashboard"><span class="mbri-briefcase mbr-iconfont mbr-iconfont-btn"></span>Dashboard</a>
                    <a class="btn btn-black-outline display-4" href="/admin"><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>Log Out</a></div>
            </div>
        </div>
    </div>
</section>
<hr>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="container">
                <div class="form-container z-depth-5">
                    <h4>Enrollment</h4> 
                    <div class="row">
                        <form class="col s12" action='/successfulenrolled' method='post'>
                          <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="name">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="number" name="phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="nodalCenter">
                                    <label for="nodalCenter">Nodal Center</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="enrollDate">
                                    <label for="enrollDate">Enrollment Date</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                             <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text" name="address">
                                    <label for="address">Address</label>
                                </div>
                            </div>
                                <button class="btn submitbtn" type="submit">Enroll</button>
                        </form>
                </div>
            </div>
        </div>
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </div>   
</body>
</html>
