<% include header.ejs %>
<section class="mbr-section content8 cid-qJEXTZcQZt" id="content8-22">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary-outline display-4" href="/adminDashboard"><span class="mbri-briefcase mbr-iconfont mbr-iconfont-btn"></span>Dashboard</a>
                    <a class="btn btn-black-outline display-4" href="#"><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>Log Out</a></div>
            </div>
        </div>
    </div>
</section>
	<div class ='container' align ='center'>
		<br><br><hr>
		<h1><Strong>Enrollment done successfully !!!</Strong></h1>
		<hr>
		<br>
		<a href ="/enroll">Click Here ! </a> to enroll more.
	</div>
</body>
</html>