<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<body style="background-color:#A1887F">
	<div class ='container' align ='center'>
		<br><br><hr>
		<h1><Strong>Registeration unsuccessful !!!</Strong></h1>
		<hr>
		<br>
		<a href ="/userRegister">Click Here ! </a> to register again.
	</div>
</body>
</html>