<!DOCTYPE html>
<html >
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script>
        var socket = io.connect();
        $(window).load(function(e){
            $("#loading").hide()
            e.preventDefault();
            socket.emit("emitUser",{userid:"<%= user._id %>"})
            socket.on("emitUser ack",function(){
                socket.emit("getRating",{userid:"<%= user._id %>"})
                socket.on("getRating ack",function(data){
                    $("#rating").html(data.rating)
                })
            })
        })
    </script>
  <!-- Site made with Mobirise Website Builder v4.6.6, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.6, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="static.css">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <title>Dashboard</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="mbr-section info3 cid-qMsVwoVckA" id="info3-3j">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    <%= user.username %></h2>
                
                
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-black display-4" href="https://mobirise.com"><span class="mbrib-star mbr-iconfont mbr-iconfont-btn"></span><span id="rating">Unrated</span></a>
                    <a class="btn btn-secondary display-4" href="/logout"><span class="mbrib-logout mbr-iconfont mbr-iconfont-btn"></span>Logout</a></div>
            </div>
        </div>
    </div>
</section>

<section class="engine"><a href="https://mobirise.ws/e">best website maker software</a></section><section class="cid-qMt0LQWFo5" id="pricing-tables1-3u">

    

    
    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-2">Wallet Balance<br><br></h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">₹&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-1">
                              35</span>
                        <small class="price-term mbr-fonts-style display-7"></small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item"><br></li>
                            <li class="list-group-item"><br></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4"><a href="https://mobirise.com" class="btn btn-warning-outline display-4">Transactions</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-2">
                        New Service<br><br></h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-1"></span>
                        <small class="price-term mbr-fonts-style display-7"></small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item"><br></li>
                            <li class="list-group-item"><br></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4"><a href="https://mobirise.com" class="btn btn-warning-outline display-4">Start Service</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-2">
                        Service Status<br><br></h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-1">
                            90<br></span>
                        <small class="price-term mbr-fonts-style display-7"></small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item"><br></li>
                            <li class="list-group-item"><br></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4"><a href="https://mobirise.com" class="btn btn-warning-outline display-4">Check Status&nbsp;</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-2">
                        Check Feedback<br><br></h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">&nbsp;</span>
                        <span class="price-figure mbr-fonts-style display-1"></span>
                        <small class="price-term mbr-fonts-style display-7"></small>
                    </div>
                </div>
                <div class="plan-body pb-5">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item"><br></li>
                            <li class="list-group-item"><br></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center pt-4"><a href="https://mobirise.com" class="btn btn-warning-outline display-4">Check</a></div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
</body>
</html>