<!DOCTYPE html>
<html >
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script>
        var socket = io.connect();
        var subServiceList = [];
        var serviceList = [];
        $(window).load(function(e){
            $('#loading').hide();
            e.preventDefault();
            document.getElementById("service").style.display = "block";
            socket.emit("emitUser",{userid:"<= user._id %>"});
            socket.on("emitUser ack",function(){
              socket.emit("getRating",{userid:"<%= user._id %>"})
              socket.on("getRating ack",function(data){
                $("#rating").html(data.rating)
              })
              socket.emit("extractServices")
              socket.on("extractServices ack",function(data){
                console.log(data.status)
                if(data.status == 200){
                  $("#service").html("<option selected disabled hidden>Select the service type</option>")
                    for(var i=0;i<data.response.length;i++){
                      serviceList.push(data.response[i]);
                      $("#service").append("<option value=" + data.response[i]._id + ">" + data.response[i].service + "</option>")
                    }
                }
              })
            })

            $("#proceed").click(function(e){
              e.preventDefault()
              var subService = $("#subservice").val();
              var service = $("#service").val();
              var serviceArrayPos = serviceList.map(function(e){
                return e._id
              }).indexOf(service)
              var serviceType = serviceList[serviceArrayPos].serviceType;
              var serviceCharge = serviceList[serviceArrayPos].serviceCharge;
              if(serviceType == 3){
                $("#dynamic").show();
              }
              
            })

            $("#knumberDetail").click(function(){
              if($("#knumber").val() == ""){
                alert("Enter k-number")
              }else{
                socket.emit("knumberDetail",{"knumber":$("#knumber").val()})
              }
            })

            socket.on("knumberDetail ack",function(data){
              var knumber = data.response.kNumber;
              var name = data.response.name;
              var mobile = data.response.mobile;
              var address = data.response.address;
              var billAmount = data.response.billAmount;
              $("#dynamicDetail").html(
                  "<li>Knumber:-" + knumber +"</li>"
                  "<li>User name :- "+ name +"</li>"
                  "<li>Contact Number :-"+ mobile +"</li>"
                  "<li>Address :-"+ address +"</li>"
                  "<li>Amount :-"+billAmount +"</li>"
                )
            })
        })



        function extractSubservice(){
            $('#loading').show();
            var serviceId = $("#service").val()
            socket.emit("extractSubservice",serviceId);

            socket.on("extractSubservice ack",function(data){
              document.getElementById("subservice").style.display = "block";
              $("#subservice").html("<option selected disabled hidden>Select the sub-service type</option>")
              for(var i=0;i<data.response.length;i++){
                subServiceList.push(data.response[i]);
                $("#subservice").append("<option value=" + data.response[i].subService + ">" + data.response[i].subService + "</option>")
              }
              $('#loading').hide();
            })
            
        }

        function lastProcess(){
          $('#loading').show();
          var subService = $("#subservice").val();
          console.log(subService)
          if(subService.indexOf("college")!=-1){
            document.getElementById("institute").style.display = "block";
            socket.emit("extractCollege");
            socket.on("extractCollege ack",function(data){
              console.log(data.status)
              for(var i=0;i<data.response.length;i++){
                $("#institute").append("<option value=" + data.response[i].subService + ">" + data.response[i].college + "</option>")
                document.getElementById("proceed").style.display = "block";
              }
              $('#loading').hide();
            })
          }else{
            document.getElementById("proceed").style.display = "block";
            $('#loading').hide();
          }
        }
    </script>
    <style type="text/css">
        select{
            position: relative;
            left: 300px;
            width: 800px;
            height: 40px;
            display: none;
            text-align-last:center;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
        
        option{
            text-align: center;
        }
        
    </style>
  <!-- Site made with Mobirise Website Builder v4.6.6, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.6, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="static.css">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <title>Dashboard</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>

<body>
  <div id="loading">
    <img id="loading-image" src="gif/bolt.gif" alt="Loading..." />
  </div>
  <section class="mbr-section info3 cid-qMsVwoVckA" id="info3-3j">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    <%= user.username %></h2>
                
                
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-black display-4" href="https://mobirise.com"><span class="mbrib-star mbr-iconfont mbr-iconfont-btn"></span><span id="rating">Unrated</span></a>
                    <a class="btn btn-secondary display-4" href="/logout"><span class="mbrib-logout mbr-iconfont mbr-iconfont-btn"></span>Logout</a></div>
            </div>
        </div>
    </div>
</section>

<section class="engine"><a href="https://mobirise.ws/e">best website maker software</a></section><section class="cid-qMt0LQWFo5" id="pricing-tables1-3u">
    <select id="service" onchange="extractSubservice()">
        <option selected disabled hidden>Select the service type</option>
    </select><br><br>
    <select id="subservice" onchange="lastProcess()">
      <option selected disabled hidden>Select the sub-service type</option>
    </select><br><br>
    <select id="institute">
    </select><br>
    <center><input type="button" value="Proceed" id="proceed" style="display:none"></center>

    <div id="dynamic" style="display:none">
      <input type="text" id="knumber" placeholder="Enter k-number">
      <input type="button" id="knumberDetail" value="checkStatus">
      <div id="dynamicDetail"></div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
</body>
</html>